/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body {
  background-color: #131722 !important;
  color: #FFF;
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  text-decoration: none;
  color: #FFF;
}

.vote {
  background-color: #24baef;
  padding: 5px;
  font-weight: 900;
  color: #FFF;
}

.second-color {
  color: #949cb0;
}

.bordr {
  background-color: #a8a8a83d;
  height: 2px;
}
